# Spark / Iceberg
SPARK_JARS=/path/to/required/jars.jar
ICEBERG_WAREHOUSE_PATH=/home/ubuntu/lab8_lakehouse/warehouse

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_RAW_BUCKET=raw

# ClickHouse
CLICKHOUSE_HOST=your_clickhouse_host
CLICKHOUSE_PORT=9000
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_USER=your_user
CLICKHOUSE_PASSWORD=change_me
CLICKHOUSE_DATABASE=your_database
CLICKHOUSE_TRANSACTIONS_CUBE_TABLE=transactions_cube_hourly

# Superset
SUPERSET_SECRET_KEY=change_me
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com

SUPERSET_METADATA_DB_USER=superset
SUPERSET_METADATA_DB_PASSWORD=superset
SUPERSET_METADATA_DB_NAME=superset
SUPERSET_METADATA_DB_URI=postgresql+psycopg2://superset:superset@lab8-superset-db:5432/superset
