.env
*.log
*.pid
*.tmp
core.*
hs_err_pid*.log
replay_pid*.log

.venv*/
__pycache__/
*.pyc
.ipynb_checkpoints/

warehouse/
minio-data/
dagster_home/
metastore_db/
derby.log

superset-postgres-data/
clickhouse-data/

data/
*.jsonl
*.csv
*.parquet
